
@{
    ViewData["Title"] = "Index";
}
<center>
    <h1><b>Highlighted Projects</b></h1>
</center><br />

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://github.com/devalexer/PAHStack">
                <img src="~/images/PAHStack.png" alt="Lights" style="width:100%; height:200px">
                <center><p>Stack Overflow Clone</p></center>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://github.com/devalexer/BagOfMarbles">
                <img src="~/images/Marbles.png" alt="Lights" style="width:100%; height:200px">
                <center><p>Bag of Marbles Game</p></center>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://github.com/devalexer/RedditClone">
                <img src="~/images/Reddit.png" alt="Lights" style="width:100%; height:200px">
                <center><p>Reddit Clone</p></center>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://github.com/devalexer/EventSite">
                <img src="~/images/EventSite.png" alt="Lights" style="width:100%; height:200px">
                <center><p>Event Listing Site</p></center>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://github.com/devalexer/BagOfMarbles">
                <img src="~/images/Marbles.png" alt="Lights" style="width:100%; height:200px">
                <center><p>Bag of Marbles Game</p></center>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://github.com/devalexer/RedditClone">
                <img src="~/images/Reddit.png" alt="Lights" style="width:100%; height:200px">
                <center><p>Bag of Marbles Game</p></center>
            </a>
        </div>
    </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://github.com/devalexer/PAHStack">
                    <img src="~/images/PAHStack.png" alt="Lights" style="width:100%; height:200px">
                    <center><p>Bag of Marbles Game</p></center>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://github.com/devalexer/BagOfMarbles">
                    <img src="~/images/Marbles.png" alt="Lights" style="width:100%; height:200px">
                    <center><p>Bag of Marbles Game</p></center>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://github.com/devalexer/RedditClone">
                    <img src="~/images/Reddit.png" alt="Lights" style="width:100%; height:200px">
                    <center><p>Bag of Marbles Game</p></center>
                </a>
            </div>
        </div>
    </div>