
@{
    ViewData["Title"] = "Index";
}
<center>
    <h1><b>Highlighted Projects</b></h1>
</center><br />

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://github.com/devalexer/EvaluationApp">
                <img src="~/images/EvaluChart.gif" alt="Lights" style="width:100%; height:200px" id="pic">
                <center><p>EvaluChart - Education Evaluation App</p></center>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://github.com/devalexer/PAHStack">
                <img src="~/images/PAHStack.png" alt="Lights" style="width:100%; height:200px" id="pic">
                <center><p>Stack Overflow Clone</p></center>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://github.com/devalexer/BagOfMarbles">
                <img src="~/images/Marbles.png" alt="Lights" style="width:100%; height:200px" id="pic">
                <center><p>Bag of Marbles Game</p></center>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://github.com/devalexer/RedditClone">
                <img src="~/images/Reddit.png" alt="Lights" style="width:100%; height:200px" id="pic">
                <center><p>Reddit Clone</p></center>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://github.com/devalexer/EventSite">
                <img src="~/images/EventSite.png" alt="Lights" style="width:100%; height:200px" id="pic">
                <center><p>Event Listing Site</p></center>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://github.com/devalexer/TIYSportsPage">
                <img src="~/images/TIYSports1.png" alt="Lights" style="width:100%; height:200px" id="pic">
                <center><p>Community Sports Team Page</p></center>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://github.com/devalexer/Weatherman">
                <img src="~/images/Weatherman.gif" alt="Lights" style="width:100%; height:200px" id="pic">
                <center><p>Basic Weatherman</p></center>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://github.com/devalexer/Calculator">
                <img src="~/images/calculator2.png" alt="Lights" style="width:100%; height:200px" id="pic">
                <center><p>Basic Calculator</p></center>
            </a>
        </div>
    </div>
</div>