@{
    ViewData["Title"] = "Contact";
}
<h2>Contact Info</h2>
<h3>Stay Connected With Me!</h3>

<address>
    Currently in:<br />
    St. Petersburg, FL, USA<br />
    <abbr title="Phone">P:</abbr>
    (617)308-9443
</address>

<address>
    <strong>Email:</strong> <a href="mailto:alliemckay.dev@gmail.com">alliemckay.dev@gmail.com</a><br />
</address>
