@{
    ViewData["Title"] = "Contact";
}
    <center>
        <h1><b>Contact Info</b></h1>
        <h3>Stay Connected With Me!</h3>
    </center><br />

    <address>
        <strong>Currently In:</strong>
        St. Petersburg, FL, USA
    </address>

    @*<address>
        <strong>Phone:</strong>
        (617) 308-9443
    </address>*@

    <address>
        <strong>Email:</strong> <a href="mailto:alliemckay.dev@gmail.com">alliemckay.dev@gmail.com</a><br />
    </address>
