@{
    ViewData["Title"] = "Home Page";
    ViewData["BodyClass"] = "homepagebackground";
}

    <div class="hexes">
        <a href="/Projects" class="projects">
            <svg viewBox="0 0 350 350" style="width: 500px; height: 500px" class="gear">
                <polygon fill="none" points="276.1128234863281,134 213.05642700195312,243.2169189453125 86.94358825683594,243.2169189453125 23.887176513671875,134 86.94358825683594,24.78308868408203 213.05642700195312,24.78308868408203 276.1128234863281,134 " stroke="#fff" stroke-width="5" />
                <text x="95" y="140" font-size="35" fill="white">Projects</text>
            </svg>
        </a>

        <a href="/Home/Profile" class="profile">
            <svg viewBox="0 0 300 300" style="width: 300px; height: 300px">
                <polygon fill="none" points="276.1128234863281,134 213.05642700195312,243.2169189453125 86.94358825683594,243.2169189453125 23.887176513671875,134 86.94358825683594,24.78308868408203 213.05642700195312,24.78308868408203 276.1128234863281,134 " stroke="#fff" stroke-width="5" href="/Home/Profile" />
                <text x="100" y="140" font-size="35" fill="white">Profile</text>
            </svg>
        </a>

        <a href="/Home/Resume" class="resume">
            <svg viewBox="0 0 400 400" style="width: 400px; height: 400px">
                <polygon fill="none" points="276.1128234863281,134 213.05642700195312,243.2169189453125 86.94358825683594,243.2169189453125 23.887176513671875,134 86.94358825683594,24.78308868408203 213.05642700195312,24.78308868408203 276.1128234863281,134 " stroke="#fff" stroke-width="5" />
                <text x="95" y="140" font-size="35" fill="white">Resume</text>
            </svg>
        </a>
    </div>
    

    @*<a href="https://medium.com/@@alliemckay">
        <svg viewBox="0 0 300 300" style="width: 300px; height: 300px">
            <polygon fill="none" points="276.1128234863281,134 213.05642700195312,243.2169189453125 86.94358825683594,243.2169189453125 23.887176513671875,134 86.94358825683594,24.78308868408203 213.05642700195312,24.78308868408203 276.1128234863281,134 " stroke="#fff" stroke-width="5" />
            <text x="95" y="140" font-size="35" fill="white">Blog</text>
        </svg>
    </a>*@
