@{
    ViewData["Title"] = "Home Page";
}

<div class="bioinfo">
    <img src="images/profpic.png" style="height:130px; width:100px">
    <h3 class="biotitle">BRIEF BIOGRAPHY</h3>
    <div class="biotext">
        <p>Currently in the Iron Yard Cohort 7 for C#/.Net development, I am an aspiring developer and budding technology enthusiast.</p>
        <p>My early background was in business development, which still helps to inform my client-first workflow blah blah blah...</p>
    </div>
</div>

<hr />


<h2>Recent Projects</h2>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://github.com/devalexer/PAHStack">
                <img src="~/images/PAHStack.png" alt="Lights" style="width:100%; height:200px">
                @*<div class="caption">
                    <p>Lorem ipsum...</p>
                </div>*@
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://github.com/devalexer/BagOfMarbles">
                <img src="~/images/Marbles.png" alt="Lights" style="width:100%; height:200px">
                @*<div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>*@
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://github.com/devalexer/RedditClone">
                <img src="~/images/Reddit.png" alt="Lights" style="width:100%; height:200px">
                @*<div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>*@
            </a>
        </div>
    </div>
</div>  
   
