@{
    ViewData["Title"] = "Profile";
    ViewData["ContainerClass"] = "container-fluid";
    ViewData["BodyClass"] = "profile";
}


<div class="profilecontainer">
    <clipPath id="clipping" clipPathUnits="objectBoundingBox">
        <div class="profileshaped"></div>
    </clipPath>
    <div class="profiletitle">
        <img src="~/images/DSC07864b-sm.jpg" style="width:3.5em; height:4.5em">
        <h1 id="aboutTitleText">A Litte Bit<br />About<br /> Me</h1>
    </div>
    <div class="profilecontent">
        <p>A recent graduate of the Iron Yard Cohort for C#/.Net development, I am an aspiring developer and budding technology enthusiast.</p>
        <p>
            My early background was in business development, which still helps to inform my client-first workflow. More recently, though, I spent a few years
            in Brazil working on various entrepreurial efforts including developing an English language immersion school and a tourism company.
        </p>
        <p>
            My experience in Brazil is largely responsible for sparking an interest in coding when, without my typical crutches of technical
            friends or cheap and accessible replacements, I was forced to solve technical problems that appeared on a seemingly weekly basis.
            One week a hard-drive might give out so I would order and replace it myself. This, of course, required reinstallation of all lost programs
            so I started to experiment with Ubuntu. Our start-up companies required websites so I took responsibility for developing them.
        </p>
        <p>
            Although I had no idea what I was doing in most cases, I eventually realized that computers were not mysterious and out-of-reach magical 
            boxes but accessible tools that, with a little research, I could manipulate. It was an empowering and addictive realization.
        </p>
        <p>
            Today, I am constantly trying to learn more as I pursue a career change into programming. I participated in the Iron Yard coding bootcamp
            to jumpstart the effort and have been working to master the skills necessary to enter the technology field as a contributing member.
        </p>
        <p>I am excited to join an existing team and continue this path of learning and producing technical solutions.</p>
    </div>
</div>

