@{
    ViewData["Title"] = "Profile";
    ViewData["ContainerClass"] = "container-fluid";
    ViewData["BodyClass"] = "profile";
}


<div class="profilecontainer">
    <div class="profileshaped"></div>
    <div class="profiletitle">
        <img src="images/profpic.png" style="height:130px; width:100px">
        <h1>A Litte Bit<br />About<br /> Me</h1>
    </div>
    <div class="profilecontent">
        <p>Currently in the Iron Yard Cohort for C#/.Net development, I am an aspiring developer and budding technology enthusiast.</p>
        <p>My early background was in business development, which still helps to inform my client-first workflow. I also spent a few years in Brazil working on various entrepreurial efforts including developing an English language immersion school and a tourism company.</p>
        <p>Some more interesting information...</p>
        <p>Currently in the Iron Yard Cohort for C#/.Net development, I am an aspiring developer and budding technology enthusiast.</p>
        <p>Currently in the Iron Yard Cohort for C#/.Net development, I am an aspiring developer and budding technology enthusiast.</p>
        <p>Currently in the Iron Yard Cohort for C#/.Net development, I am an aspiring developer and budding technology enthusiast.</p>
        <p>Currently in the Iron Yard Cohort for C#/.Net development, I am an aspiring developer and budding technology enthusiast.</p>
    </div>
</div>

