
@{
    ViewData["Title"] = "Resume";
}

<h2>Resume</h2>

EXPERIENCE

Technical Skills
C# / .Net, HTML, CSS, Git, Powershell, WPF, API, MVC, Entity Framework, Bootstrap, AJAX,
Authentication, OAuth, LINQ, Razor, Javascript, JQuery, Cacheing, Xamerin, Azure

Apprentice, The Iron Yard Academy (theironyard.com)
St. Petersburg, FL (March -June 2017)
• Apprentice in immersive development bootcamp designed to train students to either
join an existing development team as a contributing junior-level developer or build
their own products
• Focus on C# / .Net

Co-founder, Acampamento Internacional de Cultura Inglesa (aicingles.com.br)
Nova Viçosa, Bahia, Brazil (January 2014 - November 2016)
• Established an in-country English immersion program for Brazilian students
• Developed website and marketing materials
• Defined a presence on relevant search engines, volunteer channels, and social media
• Assisted in identifying and creating connections with potential partners
• Advertised for, identified, interviewed, and coordinated volunteers

Temporary Executive Assistant, Massachusetts Association of Health Plans
Boston, MA (September 2014 - December 2014)
• Acted as the executive assistant (temporary position) to a busy CEO
• Managed schedule for CEO, material prep for meetings, and event coordination

Business Development Associate/Project Management Assistant, RES Group
Cambridge, MA (July 2011 - November 2013)
• Served as member of support team working on diverse engineering related projects
• Acted in partnership with CEO to establish a variety of exploratory projects
• Coordinated projects with a focus on project progression and schedule
• Developed and supported company relationships with multinational corporate clients
• Arranged international meetings in Canada, Japan, and Malaysia
• Drafted and edited presentations, newsletters, email, and reports

Residence Director/Coordinator and Counselor, Wellmet Project, Inc.
Cambridge, MA (November 2008 - May 2011)
• Oversaw daily operation of psychiatric residential cooperative living program
• Supervised, trained, and guided 3 volunteer staff members
• Managed financial flow of budget
• Processed confidential documents/files and prepared yearly report
• Participated in long-term agency program planning and implementation
• Managed performance, accountability, and development of both staff and residents
• Ensured compliance with program requirements as well as safety of residents

