
@{
    ViewData["Title"] = "Resume";
}
<body class="resumebackground">

    <center><h1><b>Resume</b></h1></center>

    <h3><b>Technical Skills</b></h3>
    <p>
        C# / .Net, HTML, CSS, Git, Powershell, WPF, API, MVC, Entity Framework, Bootstrap, AJAX,
        Authentication, OAuth, LINQ, Razor, Javascript, JQuery, Cacheing, Xamerin, Azure<br />
    </p>
    
    <p>
        <b>Apprentice, The Iron Yard Academy (theironyard.com)</b><br />
        <i>St. Petersburg, FL (March - June 2017)</i>
        <ul>
            <li>Apprentice in immersive development bootcamp designed to train students to either
        join an existing development team as a contributing junior-level developer or build
        their own products</li>
            <li>Focus on C# / .Net</li>
        </ul>
    </p>

    <p>
        <b>Co-founder, Acampamento Internacional de Cultura Inglesa (aicingles.com.br)</b><br />
        <i>Nova Vicosa, Bahia, Brazil (January 2014 - November 2016)</i>
        <ul>
            <li>Established an in-country English immersion program for Brazilian students</li>
            <li>Developed website and marketing materials</li>
            <li>Defined a presence on relevant search engines, volunteer channels, and social media</li>
            <li>Assisted in identifying and creating connections with potential partners</li>
            <li>Advertised for, identified, interviewed, and coordinated volunteers</li>
        </ul>
    </p>

    <p>
        <b>Business Development Associate/Project Management Assistant, RES Group, Inc.</b><br />
        <i>Cambridge, MA (July 2011 - November 2013)</i>
        <ul>
            <li>Served as member of support team working on diverse engineering related projects</li>
            <li>Acted in partnership with CEO to establish a variety of exploratory projects</li>
            <li>Coordinated projects with a focus on project progression and schedule</li>
            <li>Developed and supported company relationships with multinational corporate clients</li>
            <li>Arranged international meetings in Canada, Japan, and Malaysia</li>
            <li>Drafted and edited presentations, newsletters, email, and reports</li>
        </ul>
    </p>

    <p>
        <b>Residence Director/Coordinator and Counselor, Wellmet Project, Inc.</b><br />
        <i>Cambridge, MA (November 2008 - May 2011)</i>
        <ul>
            <li>Oversaw daily operation of psychiatric residential cooperative living program</li>
            <li>Supervised, trained, and guided 3 volunteer staff members</li>
            <li>Managed financial flow of budget</li>
            <li>Processed confidential documents/files and prepared yearly report</li>
            <li>Participated in long-term agency program planning and implementation</li>
            <li>Managed performance, accountability, and development of both staff and residents</li>
            <li>Ensured compliance with program requirements as well as safety of residents</li>
        </ul>
    </p>

</body>