
@{
    ViewData["Title"] = "Resume";
}
<body class="resumebackground">

    <center><h1><b>Resume</b></h1></center>

    <div class="col-md-2">
        <h3><b>Technical Skills</b></h3>
    </div>

    <div class="col-md-10">
        <p>
            Experience with: C#, ASP.Net, .Net Core, HTML, CSS, Javascript, JQuery, Git, Powershell, WPFs, APIs, MVC, Entity Framework, Bootstrap, AJAX,
            Authentication, LINQ, Razor, Cacheing, Xamerin, Azure<br />
        </p>
    </div>

    <div class="col-md-2">
        <h3><b>Education</b></h3>
    </div>

    <div class="col-md-10">
        <p>
            Mount Holyoke College<br />
            South Hadley, MA (2004-2007)<br />
            Bachelor of Arts with Major in International Relations, Completed May 2007
        </p>
        <p> 
            Richmond University
            London, England (2003-2004)<br />
        </p>
    </div>
    
    <div class="col-md-2">
        <h3><b>Experience</b></h3>
    </div>
    <div class="col-md-10">
        <p>
            <b>Apprentice, The Iron Yard Academy (theironyard.com)</b><br />
            <i>St. Petersburg, FL (March - June 2017)</i>
            <ul>
                <li>
                    Apprentice in immersive development bootcamp designed to train students to either
                    join an existing development team as a contributing junior-level developer or build
                    their own products
                </li>
                <li>Focus on C# / .Net</li>
            </ul>
        </p>

        <p>
            <b>Co-founder, Acampamento Internacional de Cultura Inglesa (aicingles.com.br)</b><br />
            <i>Nova Vicosa, Bahia, Brazil (January 2014 - November 2016)</i>
            <ul>
                <li>Established an in-country English immersion program for Brazilian students</li>
                <li>Developed website and marketing materials</li>
                <li>Defined a presence on relevant search engines, volunteer channels, and social media</li>
                <li>Assisted in identifying and creating connections with potential partners</li>
                <li>Advertised for, identified, interviewed, and coordinated volunteers</li>
            </ul>
        </p>

        <p>
            <b>Business Development Associate/Project Management Assistant, RES Group, Inc.</b><br />
            <i>Cambridge, MA (July 2011 - November 2013)</i>
            <ul>
                <li>Served as member of support team working on diverse engineering related projects</li>
                <li>Acted in partnership with CEO to establish a variety of exploratory projects</li>
                <li>Coordinated projects with a focus on project progression and schedule</li>
                <li>Developed and supported company relationships with multinational corporate clients</li>
                <li>Arranged international meetings in Canada, Japan, and Malaysia</li>
                <li>Drafted and edited presentations, newsletters, email, and reports</li>
            </ul>
        </p>

        <p>
            <b>Residence Director/Coordinator and Counselor, Wellmet Project, Inc.</b><br />
            <i>Cambridge, MA (November 2008 - May 2011)</i>
            <ul>
                <li>Oversaw daily operation of psychiatric residential cooperative living program</li>
                <li>Supervised, trained, and guided 3 volunteer staff members</li>
                <li>Managed financial flow of budget</li>
                <li>Processed confidential documents/files and prepared yearly report</li>
                <li>Participated in long-term agency program planning and implementation</li>
                <li>Managed performance, accountability, and development of both staff and residents</li>
                <li>Ensured compliance with program requirements as well as safety of residents</li>
            </ul>
        </p>
     </div>

    <div class="col-md-2">
        <h3><b>Volunteer Service</b></h3>
    </div>

    <div class="col-md-10">
        <p>
            <b>Disaster Action Team Member</b><br />
            American Red Cross<br />
            2010 - Present<br />
            As a member of the Red Cross Disaster Action Team, I respond on an on-call basis to community residential emergencies such as fires or large-scale natural disasters. Volunteers are trained in administering to the needs of victims by providing assistance that may include temporary emergency shelter, financial aid for food, replacement clothing / medication, and emotional support. <br />
        </p>
        <p>
            <b>ICO / Outing Leader</b><br />
            Sierra Club<br />
            January 2017 - Present<br />
            The Sierra Club is the nation's largest grassroots environmental organization. The ICO program focuses on collaborating with community partners to provide safe and fun wilderness trips for people - especially youth with limited access - to the outdoors in order to foster understanding and appreciation.
       </p>
    </div>

    <div class="col-md-2">
        <h3><b>Additional Skills</b></h3>
    </div>

    <div class="col-md-10">
        <p>
            <ul>
                <li>Knowledge of written/spoken Brazilian Portuguese and Spanish</li>
                <li>Microsoft Office (Word, Excel, PowerPoint), Dreamweaver, Adobe Photoshop</li>
            </ul>
        </p> 
    </div>

</body>